<!doctype html>
<html>
<head>
<script src="https://apis.google.com/js/client.js"></script>
<script src="WebContent/controllers/YoutubePlayer.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="WebContent/controllers/MySongBookletCtrl.js"></script>
<link rel="stylesheet" type="text/css" href="WebContent/style/mysongbooklet.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body  style="background-color:#f4decb;" ng-app="mysongbooklet" ng-controller="MySongBookletCtrl"
	ng-keydown="keyPressEvent($event)">
	<div id="mySidenav" class="sidenav">
		<label href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</label>
		<hr>
		<label data-toggle="modal" data-target="#loadListModal" ng-click="closeNav()">Load List</label>
		<label data-toggle="modal" data-target="#allSongsModal" ng-click="closeNav()">Show all Songs</label>
		<hr>
	</div>
	<div id="main">
	<div id="customNavBar"><h2>
		<label class="glyphicon glyphicon-menu-hamburger " style="color:white;" ng-click="openNav()"></label>
		<label class="navheaderText" ng-click="closeNav()">
			<b>My Song Booklet</b>
		</label></h2>
	</div>
	<div id="bodyMasterbox" class="grape"
		ng-init="getSongDetailsFrmServer()" ng-click="closeNav()">
		<div style="text-align:right;">
			<div style="display: inline-block">
				<div style="margin: 10px 20px 10px 0px;">
			<input type="text" class="form-control"
					ng-model="songSearch" class="inputBorderTextBox"
					 ng-focus="inputInFocus='SongName';"placeholder="Search"></input></div>
				<div style="position:absolute; background-color:whitesmoke;text-align:left;">
					<p ng-repeat="songKey in getFilteredListOfSongData('SongName',songSearch)"
						ng-click="populateSelection('SongName',songKey);"
						ng-class="{ 'songSelectionBox-Selected': searchTextBoxSelection===songKey, 'songSelectionBox-noSelection': searchTextBoxSelection!=songKey }">{{songs[songKey].SongName.S}}</p>
				</div>
				</div>
		</div>
		<div class="boxedDiv">
			<div class="bottomBorderDiv">
				
				<input style="margin: 10px 20px 10px 20px;"
					ng-model="songs[selectedSong].SongName.S" class="inputTextBox"
					 ng-disabled="!editMode"></input>
			</div>
			<div>
				<div class="form-group">
    				<label for="inputProgOwner">Program Owner</label><br>
    				<input class="inputTextBox" id="inputProgOwner"
					ng-model="songs[selectedSong].ProgramOwner.S"
						ng-disabled="!editMode" ng-focus="inputInFocus='ProgramOwner';">
						<div style="position:absolute; background-color:whitesmoke;text-align:left;">
							<p ng-repeat="songKey in getFilteredListOfSongData('ProgramOwner')"
								ng-click="populateSelection('ProgramOwner',songKey)"
								ng-class="{ 'songSelectionBox-Selected': searchTextBoxSelection===songKey, 'songSelectionBox-noSelection': searchTextBoxSelection!=songKey }">{{songs[songKey].ProgramOwner.S}}</p>
						</div>
  				</div>
				<div class="form-group">
    				<label for="inputStyle">Style</label><br>
    				<input class="inputTextBox" id="inputStyle"
					ng-model="songs[selectedSong].Style.S"
						ng-disabled="!editMode" ng-focus="inputInFocus='Style';">
						<div style="position:absolute; background-color:whitesmoke;text-align:left;">
							<p ng-repeat="songKey in getFilteredListOfSongData('Style')"
								ng-click="populateSelection('Style',songKey)"
								ng-class="{ 'songSelectionBox-Selected': searchTextBoxSelection===songKey, 'songSelectionBox-noSelection': searchTextBoxSelection!=songKey }">{{songs[songKey].Style.S}}</p>
						</div>
  				</div>
				<div class="form-group">
    				<label for="inputScale">Scale</label><br>
    				<input class="inputTextBox" id="inputScale"	ng-model="songs[selectedSong].Scale.S"
						ng-disabled="!editMode" ng-focus="inputInFocus='Scale';">
						<div style="position:absolute; background-color:whitesmoke;text-align:left;">
							<p ng-repeat="songKey in getFilteredListOfSongData('Scale')"
								ng-click="populateSelection('Scale',songKey)"
								ng-class="{ 'songSelectionBox-Selected': searchTextBoxSelection===songKey, 'songSelectionBox-noSelection': searchTextBoxSelection!=songKey }">{{songs[songKey].Scale.S}}</p>
						</div>
  				</div>
				<div class="form-group">
    				<label for="inputTempo">Tempo</label><br>
    				<input class="inputTextBox" id="inputTempo"
					ng-model="songs[selectedSong].Tempo.S"
						ng-disabled="!editMode" ng-focus="inputInFocus='Tempo';">
  				</div>
				<div class="form-group">
    				<label for="inputComments">Comments</label><br>
    				<input class="inputTextBox" id="inputComments"
					ng-model="songs[selectedSong].additionalComments.S"
						ng-disabled="!editMode" ng-focus="inputInFocus='additionalComments';">
  				</div>
			</div>
		</div>
		<div id="buttonsDiv">
			<label class="btn btn-primary active"> <input type="checkbox"
				ng-model="editMode"> EDIT
			</label>
			<button type="button" ng-click="prepareForNewSong()"
				ng-disabled="!editMode" class="btn btn-primary">NEW</button>
			<button type="button" ng-click="saveSong()" class="btn btn-primary"
				ng-disabled="!editMode">SAVE</button>
			<button type="button" class="btn btn-primary" ng-click="addSongToActiveList()">ADD TO LIST</button>
		</div>
		<div class="boxedDiv" ng-show="activeSongList!=undefined">
			<div class="bottomBorderDiv">
				<h3 style="margin-left:20px">{{activeSongList}}</h3>
			</div>
			<div style="margin-left: 20px;">
				<h4 ng-show="songGroup[activeSongList]==undefined||songGroup[activeSongList].length==0">- No Songs in this list</h4>
				<div ng-repeat="x in songGroup[activeSongList]" ng-click="loadSong(x)"
					ng-class="{ 'songSelectionBox-Selected': selectedSong===x, 'songSelectionBox-noSelection': selectedSong!=x }">
					<h4>{{songs[x].SongName.S}}</h4>
				</div>
			</div>
		</div>
		<div id="buttonsDiv" ng-show="$scope.activeSongList!=undefined">
			<button type="button" class="btn btn-primary">REMOVE SONG
				FROM LIST</button>
			<button type="button" class="btn btn-primary">DELETE LIST</button>
		</div>
	</div>

	<div class="modal fade" id="loadListModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Load Song List</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" ng-init="getSongListsFrmServer()">
				<input class="inputTextBox" ng-model="searchSongList"></input>
				<p ng-repeat="key in getFilteredSongLists()"
								ng-click="loadList(key,true)"
								ng-class="{ 'songSelectionBox-Selected': searchSongList===key, 'songSelectionBox-noSelection': searchSongList!=key }">{{key}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="loadList(searchSongList,true)">Load List</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="allSongsModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">All Songs</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" >
					<div style="height:80vh;overflow: auto;">
				<div ng-repeat="x in songGroup['All Songs']" ng-click="loadSong(x)"
					ng-class="{ 'songSelectionBox-Selected': selectedSong===x, 'songSelectionBox-noSelection': selectedSong!=x }">
					<h4>{{songs[x].SongName.S}}</h4>
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
